# DX22 castle save
format=CastleSaveData
version=1
gridSize=1
gridHalfExtent=16
gridHeightStep=1
activeLayer=0
cameraEyeX=3.95709
cameraEyeY=11.1154
cameraEyeZ=18.1065
cameraLookX=2.52243
cameraLookY=0.895553
cameraLookZ=3.23728
previewRotationQuarterTurns=0
placementCount=120
placement.0.assetId=brick
placement.0.gridX=-14
placement.0.gridY=0
placement.0.gridZ=-1
placement.0.rotationQuarterTurns=0
placement.1.assetId=brick
placement.1.gridX=-13
placement.1.gridY=0
placement.1.gridZ=-1
placement.1.rotationQuarterTurns=0
placement.2.assetId=brick
placement.2.gridX=-12
placement.2.gridY=0
placement.2.gridZ=-1
placement.2.rotationQuarterTurns=0
placement.3.assetId=brick
placement.3.gridX=-11
placement.3.gridY=0
placement.3.gridZ=-1
placement.3.rotationQuarterTurns=0
placement.4.assetId=brick
placement.4.gridX=-10
placement.4.gridY=0
placement.4.gridZ=-1
placement.4.rotationQuarterTurns=0
placement.5.assetId=brick
placement.5.gridX=-9
placement.5.gridY=0
placement.5.gridZ=-1
placement.5.rotationQuarterTurns=0
placement.6.assetId=brick
placement.6.gridX=-8
placement.6.gridY=0
placement.6.gridZ=-1
placement.6.rotationQuarterTurns=0
placement.7.assetId=brick
placement.7.gridX=-7
placement.7.gridY=0
placement.7.gridZ=-1
placement.7.rotationQuarterTurns=0
placement.8.assetId=brick
placement.8.gridX=-6
placement.8.gridY=0
placement.8.gridZ=-1
placement.8.rotationQuarterTurns=0
placement.9.assetId=brick
placement.9.gridX=-5
placement.9.gridY=0
placement.9.gridZ=-1
placement.9.rotationQuarterTurns=0
placement.10.assetId=brick
placement.10.gridX=-4
placement.10.gridY=0
placement.10.gridZ=-1
placement.10.rotationQuarterTurns=0
placement.11.assetId=brick
placement.11.gridX=-3
placement.11.gridY=0
placement.11.gridZ=-1
placement.11.rotationQuarterTurns=0
placement.12.assetId=brick
placement.12.gridX=-2
placement.12.gridY=0
placement.12.gridZ=-1
placement.12.rotationQuarterTurns=0
placement.13.assetId=brick
placement.13.gridX=-1
placement.13.gridY=0
placement.13.gridZ=-1
placement.13.rotationQuarterTurns=0
placement.14.assetId=brick
placement.14.gridX=0
placement.14.gridY=0
placement.14.gridZ=-1
placement.14.rotationQuarterTurns=0
placement.15.assetId=brick
placement.15.gridX=1
placement.15.gridY=0
placement.15.gridZ=-1
placement.15.rotationQuarterTurns=0
placement.16.assetId=brick
placement.16.gridX=2
placement.16.gridY=0
placement.16.gridZ=-1
placement.16.rotationQuarterTurns=0
placement.17.assetId=brick
placement.17.gridX=3
placement.17.gridY=0
placement.17.gridZ=-1
placement.17.rotationQuarterTurns=0
placement.18.assetId=brick
placement.18.gridX=4
placement.18.gridY=0
placement.18.gridZ=-1
placement.18.rotationQuarterTurns=0
placement.19.assetId=brick
placement.19.gridX=5
placement.19.gridY=0
placement.19.gridZ=-1
placement.19.rotationQuarterTurns=0
placement.20.assetId=brick
placement.20.gridX=6
placement.20.gridY=0
placement.20.gridZ=-1
placement.20.rotationQuarterTurns=0
placement.21.assetId=brick
placement.21.gridX=7
placement.21.gridY=0
placement.21.gridZ=-1
placement.21.rotationQuarterTurns=0
placement.22.assetId=brick
placement.22.gridX=8
placement.22.gridY=0
placement.22.gridZ=-1
placement.22.rotationQuarterTurns=0
placement.23.assetId=brick
placement.23.gridX=9
placement.23.gridY=0
placement.23.gridZ=-1
placement.23.rotationQuarterTurns=0
placement.24.assetId=brick
placement.24.gridX=10
placement.24.gridY=0
placement.24.gridZ=-1
placement.24.rotationQuarterTurns=0
placement.25.assetId=brick
placement.25.gridX=-14
placement.25.gridY=0
placement.25.gridZ=0
placement.25.rotationQuarterTurns=0
placement.26.assetId=brick
placement.26.gridX=-13
placement.26.gridY=0
placement.26.gridZ=0
placement.26.rotationQuarterTurns=0
placement.27.assetId=brick
placement.27.gridX=-12
placement.27.gridY=0
placement.27.gridZ=0
placement.27.rotationQuarterTurns=0
placement.28.assetId=brick
placement.28.gridX=-11
placement.28.gridY=0
placement.28.gridZ=0
placement.28.rotationQuarterTurns=0
placement.29.assetId=brick
placement.29.gridX=-10
placement.29.gridY=0
placement.29.gridZ=0
placement.29.rotationQuarterTurns=0
placement.30.assetId=brick
placement.30.gridX=-9
placement.30.gridY=0
placement.30.gridZ=0
placement.30.rotationQuarterTurns=0
placement.31.assetId=brick
placement.31.gridX=-8
placement.31.gridY=0
placement.31.gridZ=0
placement.31.rotationQuarterTurns=0
placement.32.assetId=brick
placement.32.gridX=-7
placement.32.gridY=0
placement.32.gridZ=0
placement.32.rotationQuarterTurns=0
placement.33.assetId=brick
placement.33.gridX=-6
placement.33.gridY=0
placement.33.gridZ=0
placement.33.rotationQuarterTurns=0
placement.34.assetId=brick
placement.34.gridX=-5
placement.34.gridY=0
placement.34.gridZ=0
placement.34.rotationQuarterTurns=0
placement.35.assetId=brick
placement.35.gridX=-4
placement.35.gridY=0
placement.35.gridZ=0
placement.35.rotationQuarterTurns=0
placement.36.assetId=brick
placement.36.gridX=-3
placement.36.gridY=0
placement.36.gridZ=0
placement.36.rotationQuarterTurns=0
placement.37.assetId=brick
placement.37.gridX=-2
placement.37.gridY=0
placement.37.gridZ=0
placement.37.rotationQuarterTurns=0
placement.38.assetId=brick
placement.38.gridX=-1
placement.38.gridY=0
placement.38.gridZ=0
placement.38.rotationQuarterTurns=0
placement.39.assetId=brick
placement.39.gridX=0
placement.39.gridY=0
placement.39.gridZ=0
placement.39.rotationQuarterTurns=0
placement.40.assetId=brick
placement.40.gridX=1
placement.40.gridY=0
placement.40.gridZ=0
placement.40.rotationQuarterTurns=0
placement.41.assetId=brick
placement.41.gridX=2
placement.41.gridY=0
placement.41.gridZ=0
placement.41.rotationQuarterTurns=0
placement.42.assetId=brick
placement.42.gridX=3
placement.42.gridY=0
placement.42.gridZ=0
placement.42.rotationQuarterTurns=0
placement.43.assetId=brick
placement.43.gridX=4
placement.43.gridY=0
placement.43.gridZ=0
placement.43.rotationQuarterTurns=0
placement.44.assetId=brick
placement.44.gridX=5
placement.44.gridY=0
placement.44.gridZ=0
placement.44.rotationQuarterTurns=0
placement.45.assetId=brick
placement.45.gridX=6
placement.45.gridY=0
placement.45.gridZ=0
placement.45.rotationQuarterTurns=0
placement.46.assetId=brick
placement.46.gridX=7
placement.46.gridY=0
placement.46.gridZ=0
placement.46.rotationQuarterTurns=0
placement.47.assetId=brick
placement.47.gridX=8
placement.47.gridY=0
placement.47.gridZ=0
placement.47.rotationQuarterTurns=0
placement.48.assetId=brick
placement.48.gridX=9
placement.48.gridY=0
placement.48.gridZ=0
placement.48.rotationQuarterTurns=0
placement.49.assetId=brick
placement.49.gridX=10
placement.49.gridY=0
placement.49.gridZ=0
placement.49.rotationQuarterTurns=0
placement.50.assetId=brick
placement.50.gridX=-14
placement.50.gridY=0
placement.50.gridZ=1
placement.50.rotationQuarterTurns=0
placement.51.assetId=brick
placement.51.gridX=-13
placement.51.gridY=0
placement.51.gridZ=1
placement.51.rotationQuarterTurns=0
placement.52.assetId=brick
placement.52.gridX=-12
placement.52.gridY=0
placement.52.gridZ=1
placement.52.rotationQuarterTurns=0
placement.53.assetId=brick
placement.53.gridX=-11
placement.53.gridY=0
placement.53.gridZ=1
placement.53.rotationQuarterTurns=0
placement.54.assetId=brick
placement.54.gridX=-10
placement.54.gridY=0
placement.54.gridZ=1
placement.54.rotationQuarterTurns=0
placement.55.assetId=brick
placement.55.gridX=-9
placement.55.gridY=0
placement.55.gridZ=1
placement.55.rotationQuarterTurns=0
placement.56.assetId=brick
placement.56.gridX=-8
placement.56.gridY=0
placement.56.gridZ=1
placement.56.rotationQuarterTurns=0
placement.57.assetId=brick
placement.57.gridX=-7
placement.57.gridY=0
placement.57.gridZ=1
placement.57.rotationQuarterTurns=0
placement.58.assetId=brick
placement.58.gridX=-6
placement.58.gridY=0
placement.58.gridZ=1
placement.58.rotationQuarterTurns=0
placement.59.assetId=brick
placement.59.gridX=-5
placement.59.gridY=0
placement.59.gridZ=1
placement.59.rotationQuarterTurns=0
placement.60.assetId=brick
placement.60.gridX=-4
placement.60.gridY=0
placement.60.gridZ=1
placement.60.rotationQuarterTurns=0
placement.61.assetId=brick
placement.61.gridX=-3
placement.61.gridY=0
placement.61.gridZ=1
placement.61.rotationQuarterTurns=0
placement.62.assetId=brick
placement.62.gridX=-2
placement.62.gridY=0
placement.62.gridZ=1
placement.62.rotationQuarterTurns=0
placement.63.assetId=brick
placement.63.gridX=-1
placement.63.gridY=0
placement.63.gridZ=1
placement.63.rotationQuarterTurns=0
placement.64.assetId=brick
placement.64.gridX=0
placement.64.gridY=0
placement.64.gridZ=1
placement.64.rotationQuarterTurns=0
placement.65.assetId=brick
placement.65.gridX=1
placement.65.gridY=0
placement.65.gridZ=1
placement.65.rotationQuarterTurns=0
placement.66.assetId=brick
placement.66.gridX=2
placement.66.gridY=0
placement.66.gridZ=1
placement.66.rotationQuarterTurns=0
placement.67.assetId=brick
placement.67.gridX=3
placement.67.gridY=0
placement.67.gridZ=1
placement.67.rotationQuarterTurns=0
placement.68.assetId=brick
placement.68.gridX=4
placement.68.gridY=0
placement.68.gridZ=1
placement.68.rotationQuarterTurns=0
placement.69.assetId=brick
placement.69.gridX=5
placement.69.gridY=0
placement.69.gridZ=1
placement.69.rotationQuarterTurns=0
placement.70.assetId=brick
placement.70.gridX=6
placement.70.gridY=0
placement.70.gridZ=1
placement.70.rotationQuarterTurns=0
placement.71.assetId=brick
placement.71.gridX=7
placement.71.gridY=0
placement.71.gridZ=1
placement.71.rotationQuarterTurns=0
placement.72.assetId=brick
placement.72.gridX=8
placement.72.gridY=0
placement.72.gridZ=1
placement.72.rotationQuarterTurns=0
placement.73.assetId=brick
placement.73.gridX=9
placement.73.gridY=0
placement.73.gridZ=1
placement.73.rotationQuarterTurns=0
placement.74.assetId=brick
placement.74.gridX=10
placement.74.gridY=0
placement.74.gridZ=1
placement.74.rotationQuarterTurns=0
placement.75.assetId=brick
placement.75.gridX=-14
placement.75.gridY=0
placement.75.gridZ=2
placement.75.rotationQuarterTurns=0
placement.76.assetId=brick
placement.76.gridX=-13
placement.76.gridY=0
placement.76.gridZ=2
placement.76.rotationQuarterTurns=0
placement.77.assetId=brick
placement.77.gridX=-12
placement.77.gridY=0
placement.77.gridZ=2
placement.77.rotationQuarterTurns=0
placement.78.assetId=brick
placement.78.gridX=-11
placement.78.gridY=0
placement.78.gridZ=2
placement.78.rotationQuarterTurns=0
placement.79.assetId=brick
placement.79.gridX=-10
placement.79.gridY=0
placement.79.gridZ=2
placement.79.rotationQuarterTurns=0
placement.80.assetId=brick
placement.80.gridX=-9
placement.80.gridY=0
placement.80.gridZ=2
placement.80.rotationQuarterTurns=0
placement.81.assetId=brick
placement.81.gridX=-8
placement.81.gridY=0
placement.81.gridZ=2
placement.81.rotationQuarterTurns=0
placement.82.assetId=brick
placement.82.gridX=-7
placement.82.gridY=0
placement.82.gridZ=2
placement.82.rotationQuarterTurns=0
placement.83.assetId=brick
placement.83.gridX=-6
placement.83.gridY=0
placement.83.gridZ=2
placement.83.rotationQuarterTurns=0
placement.84.assetId=brick
placement.84.gridX=-5
placement.84.gridY=0
placement.84.gridZ=2
placement.84.rotationQuarterTurns=0
placement.85.assetId=brick
placement.85.gridX=-4
placement.85.gridY=0
placement.85.gridZ=2
placement.85.rotationQuarterTurns=0
placement.86.assetId=brick
placement.86.gridX=-3
placement.86.gridY=0
placement.86.gridZ=2
placement.86.rotationQuarterTurns=0
placement.87.assetId=brick
placement.87.gridX=-2
placement.87.gridY=0
placement.87.gridZ=2
placement.87.rotationQuarterTurns=0
placement.88.assetId=brick
placement.88.gridX=-1
placement.88.gridY=0
placement.88.gridZ=2
placement.88.rotationQuarterTurns=0
placement.89.assetId=brick
placement.89.gridX=0
placement.89.gridY=0
placement.89.gridZ=2
placement.89.rotationQuarterTurns=0
placement.90.assetId=brick
placement.90.gridX=1
placement.90.gridY=0
placement.90.gridZ=2
placement.90.rotationQuarterTurns=0
placement.91.assetId=brick
placement.91.gridX=2
placement.91.gridY=0
placement.91.gridZ=2
placement.91.rotationQuarterTurns=0
placement.92.assetId=brick
placement.92.gridX=3
placement.92.gridY=0
placement.92.gridZ=2
placement.92.rotationQuarterTurns=0
placement.93.assetId=brick
placement.93.gridX=4
placement.93.gridY=0
placement.93.gridZ=2
placement.93.rotationQuarterTurns=0
placement.94.assetId=brick
placement.94.gridX=5
placement.94.gridY=0
placement.94.gridZ=2
placement.94.rotationQuarterTurns=0
placement.95.assetId=brick
placement.95.gridX=6
placement.95.gridY=0
placement.95.gridZ=2
placement.95.rotationQuarterTurns=0
placement.96.assetId=brick
placement.96.gridX=7
placement.96.gridY=0
placement.96.gridZ=2
placement.96.rotationQuarterTurns=0
placement.97.assetId=brick
placement.97.gridX=8
placement.97.gridY=0
placement.97.gridZ=2
placement.97.rotationQuarterTurns=0
placement.98.assetId=brick
placement.98.gridX=9
placement.98.gridY=0
placement.98.gridZ=2
placement.98.rotationQuarterTurns=0
placement.99.assetId=brick
placement.99.gridX=10
placement.99.gridY=0
placement.99.gridZ=2
placement.99.rotationQuarterTurns=0
placement.100.assetId=brick
placement.100.gridX=10
placement.100.gridY=1
placement.100.gridZ=-1
placement.100.rotationQuarterTurns=0
placement.101.assetId=brick
placement.101.gridX=10
placement.101.gridY=1
placement.101.gridZ=0
placement.101.rotationQuarterTurns=0
placement.102.assetId=brick
placement.102.gridX=10
placement.102.gridY=1
placement.102.gridZ=1
placement.102.rotationQuarterTurns=0
placement.103.assetId=brick
placement.103.gridX=10
placement.103.gridY=1
placement.103.gridZ=2
placement.103.rotationQuarterTurns=0
placement.104.assetId=brick
placement.104.gridX=10
placement.104.gridY=2
placement.104.gridZ=-1
placement.104.rotationQuarterTurns=0
placement.105.assetId=brick
placement.105.gridX=10
placement.105.gridY=2
placement.105.gridZ=0
placement.105.rotationQuarterTurns=0
placement.106.assetId=brick
placement.106.gridX=10
placement.106.gridY=2
placement.106.gridZ=1
placement.106.rotationQuarterTurns=0
placement.107.assetId=brick
placement.107.gridX=10
placement.107.gridY=2
placement.107.gridZ=2
placement.107.rotationQuarterTurns=0
placement.108.assetId=brick
placement.108.gridX=10
placement.108.gridY=3
placement.108.gridZ=-1
placement.108.rotationQuarterTurns=0
placement.109.assetId=brick
placement.109.gridX=10
placement.109.gridY=3
placement.109.gridZ=0
placement.109.rotationQuarterTurns=0
placement.110.assetId=brick
placement.110.gridX=10
placement.110.gridY=3
placement.110.gridZ=1
placement.110.rotationQuarterTurns=0
placement.111.assetId=brick
placement.111.gridX=10
placement.111.gridY=3
placement.111.gridZ=2
placement.111.rotationQuarterTurns=0
placement.112.assetId=brick
placement.112.gridX=10
placement.112.gridY=4
placement.112.gridZ=-1
placement.112.rotationQuarterTurns=0
placement.113.assetId=brick
placement.113.gridX=10
placement.113.gridY=4
placement.113.gridZ=0
placement.113.rotationQuarterTurns=0
placement.114.assetId=brick
placement.114.gridX=10
placement.114.gridY=4
placement.114.gridZ=1
placement.114.rotationQuarterTurns=0
placement.115.assetId=brick
placement.115.gridX=10
placement.115.gridY=4
placement.115.gridZ=2
placement.115.rotationQuarterTurns=0
placement.116.assetId=brick
placement.116.gridX=10
placement.116.gridY=5
placement.116.gridZ=-1
placement.116.rotationQuarterTurns=0
placement.117.assetId=brick
placement.117.gridX=10
placement.117.gridY=5
placement.117.gridZ=0
placement.117.rotationQuarterTurns=0
placement.118.assetId=brick
placement.118.gridX=10
placement.118.gridY=5
placement.118.gridZ=1
placement.118.rotationQuarterTurns=0
placement.119.assetId=brick
placement.119.gridX=10
placement.119.gridY=5
placement.119.gridZ=2
placement.119.rotationQuarterTurns=0
