# DX22 gameplay tuning
enemyCount=4
waveMax=3
waveEnemyAddPerWave=2
upgradeStepEasySmall=0
upgradeStepEasyLarge=10
upgradeStepNormalSmall=2
upgradeStepNormalLarge=3
upgradeStepHardSmall=3
upgradeStepHardLarge=5
groundTileSize=1
cameraIntroDuration=3
cameraIntroFocusDistance=0.5
attackWindup=0.04
attackDuration=0.12
attackRecovery=0.1
attackCooldown=0.24
skill1Cooldown=4
skill2Cooldown=9
screenShakeHitThreshold=3
screenShakeDuration=0.18
screenShakeAmplitude=0.2
attackSweepDegrees=120
attackSweepRadiusScale=2
attackWidthScale=2
attackDepthScale=2
attackHitStop=0.08
attackKnockback=1.5
attackHitFlash=0.405
attackTrailInterval=0.02
attackTrailLife=0.16
attackTrailScale=0.75
playerDamageFlash=0.2
playerDamageInvincible=0.35
playerDamageFlashScale=1.65
enemyDefeatFlash=0.28
enemyDefeatFlashScale=1.6
volumeMaster=0.31
volumeBgm=0
volumeSe=0.67
directionMarkerAlpha=0.92
directionMarkerOverlapAlpha=0.45
bossHpBarWidthRate=0.42
bossHpBarHeightRate=0.045
bossGuardBarOffsetX=0
bossGuardBarOffsetY=6
bossGuardBarWidthRate=0.42
bossGuardBarHeightRate=0.018
bossSizeAreaScale=6
bossMaxHp=300
bossAttackTelegraph=1
bossAttackJumpOutTime=0.5
bossAttackDashDuration=0.35
bossAttackCooldown=1.15
bossAttackLanePlayerScale=3
bossAttackDamage=20
bossAttackHitStop=0.3
bossHitShakeDuration=0.18
bossHitShakeAmplitude=0.23
bossGuardInitialMax=14
bossGuardFinalMax=24
bossGuardRecoverStep=2
bossDamageScaleNormal=0.2
bossDamageScaleBroken=2.2
bossBreakRecoverSec=8
bossDashNarrowTelegraph=1
bossDashWideTelegraph=2
bossDashWideWidthRate=0.5
bossRandomRainCount=5
bossRandomRainTelegraph=1
bossRandomRainRadiusScale=1.6
bossSummonMin=5
bossSummonMax=10
bossSummonTelegraph=1
bossTrackingDropCount=5
bossTrackingDropTelegraph=1
bossTrackingDropRadiusScale=3
bossUltimateCrossTelegraph=1
bossUltimateCrossLaneScale=1
bossUltimateStompCount=5
bossUltimateStompTelegraph=3
bossUltimateStompRepeatTelegraph=1
bossUltimateStompRadiusScale=3
bossUltimateFieldTelegraph=7
bossUltimateFieldSafeScale=2
enemyAttackWindup=0.45
enemyAttackCooldown=0.8
enemyAttackRangeMin=0.9
enemyAttackRangeScale=1.45
enemyAttackDamage=1.3
enemyMoveSpeed=1.35
waveEnemyMoveSpeedAdd=0.22
waveEnemyAttackDamageScalePerWave=0.32
enemyProjectileSpeed=6.5
enemyProjectileLife=1.4
enemyProjectileRadius=0.22
enemyProjectileDamageScale=0.85
enemySeparationRadius=1.1
enemySeparationWeight=0.8
enemySeparationMaxOffset=0.8
enemySpawnRingScale=0.35
enemySpawnJitterScale=0.1
enemySpawnMinPlayerDist=1.5
enemySpawnMinEnemyDist=0.9
pushSlop=0.01
playerPushShare=0.55
enemyPushShare=0.45
challengeNoDamageDuration=18
challengeNoDamageAttackInterval=1.1
challengeNoDamageTelegraph=0.9
challengeNoDamageRadius=1.2
challengeNoDamageDamage=1
challengeNoDamageBurstCount=2
challengeDefenseDuration=25
challengeDefenseBeaconMaxHp=25
challengeDefenseBeaconRadius=0.9
challengeDefenseBeaconContactDamage=2
challengeDefenseSpawnInterval=1.4
challengeDefenseEnemyMoveSpeed=0.32
challengeDefenseSpeedHpBonusRate=0.1
challengeDefenseRangedHpBonusRate=0.3
challengeDefenseTankHpBonusRate=0.5
challengeDefenseEnemyCap=8
bindMoveUp=87
bindMoveDown=83
bindMoveLeft=65
bindMoveRight=68
bindDash=13
bindAttack=70
bindSkill1=79
bindSkill2=80
bindReroll=82
bindXInputConfirm=4096
bindXInputDash=4096
bindXInputAttack=8192
bindXInputSkill1=32768
bindXInputSkill2=16384
bindXInputReroll=32768
bindXInputTabPrev=256
bindXInputTabNext=512
bindDirectInputConfirm=0
bindDirectInputDash=0
bindDirectInputAttack=1
bindDirectInputSkill1=3
bindDirectInputSkill2=2
bindDirectInputReroll=3
bindDirectInputTabPrev=4
bindDirectInputTabNext=5
difficultyPreset=2
stageClearCount=0
attackPowerLevel=0
attackSpeedLevel=0
evadeCooldownLevel=0
lastUpgradeType=-1
skillSlot1=0
skillSlot2=0
skillShotRangeLevel=0
skillShotPowerLevel=0
skillShotCooldownLevel=0
skillNovaRangeLevel=0
skillNovaPowerLevel=0
skillNovaCooldownLevel=0
skillOrbitRangeLevel=0
skillOrbitCooldownLevel=0
skillOrbitCountLevel=0
upgradeRerollMax=0
