# DX22 particle effect preset
format=ParticleEffectPreset
version=1
positionX=0
positionY=1.1
positionZ=0
angleX=14
angleY=-58
angleZ=11
startSizeX=0.25
startSizeY=0.25
endSizeX=0.5
endSizeY=0.5
startColorR=0
startColorG=0
startColorB=0
startColorA=0
endColorR=1
endColorG=0.996139
endColorB=0
endColorA=1
emitSpeed=3
duration=0.16
emitCount=6
maxEmissionAngleDeg=180
particleLifetime=0.45
maxTravelDistance=2.75
alive=1
billboard=1
loop=0
worldSpace=1
texturePath=Assets/Texture/Effect/Star.png
