# id name path scaleX scaleY scaleZ
"environment_model_1785390359_0" "BirchTree_1" "C:/HAL/Personal/NarakuProto/DX22_Project/Assets/Model/Ambient/BirchTree_1.obj" 1 0.63 1
"environment_model_1785390378_0" "BirchTree_2" "C:/HAL/Personal/NarakuProto/DX22_Project/Assets/Model/Ambient/BirchTree_2.obj" 1 0.75 1
"environment_model_1785390536_0" "Cactus_1" "C:/HAL/Personal/NarakuProto/DX22_Project/Assets/Model/Ambient/Cactus_1.obj" 1 1.2 1
"environment_model_1785394128_0" "Lilypad" "C:/HAL/Personal/NarakuProto/DX22_Project/Assets/Model/Ambient/Lilypad.obj" 1 1 1
