# id name path scaleX scaleY scaleZ
"surface_home" "SurfaceHome" "Assets/Model/ground/shack7.fbx" 1 1 1
"environment_model_1785390359_0" "BirchTree_1" "Assets/Models/Ambient/BirchTree_1.obj" 1 0.63 1
"environment_model_1785390378_0" "BirchTree_2" "Assets/Models/Ambient/BirchTree_2.obj" 1 0.75 1
"environment_model_1785390536_0" "Cactus_1" "Assets/Models/Ambient/Cactus_1.obj" 1 1.2 1
"environment_model_1785394128_0" "Lilypad" "Assets/Models/Ambient/Lilypad.obj" 1 1 1
